<h1>画像登録</h1>
<%= link_to "Top画面へ", root_path %>
<%= form_with model: @material, multipart: true, local: true do |f| %>
  <table>
    <tr>
      <th>ファイル</th>
      <td><%= f.file_field :file_name %></td>
    </tr>
    <tr>
      <th>タイトル</th>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <th>ユーザーID</th>
      <td><%= f.text_field :user_id %></td>
    </tr>
    <tr>
      <th>素材の種類</th>
      <td><%= f.select :material_kind_id, @kinds_option %></td>
    </tr>
    <tr>
      <th>素材のジャンル</th>
      <td><%= f.select :material_genre_id, @genres_option %></td>
    </tr>
  </table>
  <%= f.submit "登録" %>
<% end %>
