<h1>マイページ</h1>

<div class="my_page_head"><%= image_tag 'icon.png', size: '100x100', class:'icon' %></div>

<%= link_to "依頼を投稿する", new_request_path %>
<%= link_to "投稿依頼を確認する", requests_path %>

<h3> ユーザー名： <%= current_user.name %></h4>
<div>
  <a><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></a> <!-- ログアウトをする -->
</div>

<%= link_to "作品一覧ページに移動する", material_storages_index_path %>