<h1>受注確認画面</h1>

<table>
  <tr>
    <th>依頼タイトル</th>
    <td><%= @request.title %></td>
  </tr>
  <tr>
    <th>素材の種類</th>
    <td><%= @request.material_kind.name %></td>
  </tr>
  <tr>
    <th>依頼者</th>
    <td><%= link_to @request.user.name, "/user/#{@request.user.id}"%></td>
  </tr>
  <tr>
    <th>納期</th>
    <td><%= @request.delivery_date.strftime("%Y/%m/%d") %></td>
  </tr>
  <tr>
    <th>仕様</th>
    <td><%= @request.specification %></td>
  </tr>
</table>
<% @request_details.each_with_index do |request_detail, i| %>
  <h2><%= "詳細依頼#{i+1}" %><h2>
  <table>
    <tr>
      <th>依頼サイズ</th>
      <td><%= request_detail.material_size %></td>
    </tr>
    <tr>
      <th>依頼ジャンル</th>
      <td><%= request_detail.material_genre.name %></td>
    </tr>
    <tr>
      <th>依頼仕様</th>
      <td><%= request_detail.specification %></td>
    </tr>
  </table>
<% end %>
<% if @request.order_user_id == nil %>
  <%= form_with url:request_path, method: :put, local: true do |f| %>
    <%= f.radio_button :verification, true %>受注する
    <%= f.radio_button :verification, false, checked:true %>受注しない
    <%= f.submit "受注" %>
  <% end %>
<% else %>
  <p>この依頼は受注済みです</p>
<% end %>