<h1>依頼作成</h1>
<%= link_to "Topに戻る", root_path %>
<%= form_with model: @material, multipart: true, local: true do |f| %>
  <table>
    <tr>
      <th>依頼タイトル</th>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <th>素材の種類</th>
      <td><%= f.select :material_kind_id, @kinds_option %></td>
    </tr>
    <tr>
      <th>納期</th>
      <td><%= f.datetime_field :sample_at, step: 3000 %></td>
    </tr>
    <tr>
      <th>仕様</th>
      <td><%= f.text_area :sample_at, step: 3000 %></td>
    </tr>
  </table>
  <%= f.submit "登録" %>
<% end %>
