<% if user_signed_in? %>
  <% if @user.id == current_user.id %>
    <h1>マイページ</h1>
  <% else %>
    <h1><%= @user.name %>のマイページ</h1>
  <% end %>
<% else %>
  <h1><%= @user.name %>のマイページ</h1>
<% end %>

<h3> ユーザー名： <%= @user.name %></h3>
<div class="my_page_head"><%= image_tag 'icon.png', size: '100x100', class:'icon' %></div>
<h4>自己紹介</h4>
<p><%= @user.introduction %></p>

<% if user_signed_in? %>
  <% if @user.id == current_user.id %>
    <% if @user.check_job == 1 %>
      <%= link_to "依頼投稿", new_request_path %>
    <% elsif @user.check_job == 2 %>
      <%= link_to "作品投稿", material_storages_new_path %>
      <%= link_to "受注依頼", controller: 'user',action:'self_orders',user_id: @user.id %>
    <% end %>
    <%= link_to "チャット", chat_rooms_show_path %>
    <%= link_to "編集", edit_user_path %>
  <% end %>
<% end %>
<% if @user.check_job == 1 %>
<%= link_to "#{@user.name}の依頼一覧", controller: 'user',action:'self_requests',user_id: @user.id %>
<% elsif @user.check_job == 2 %>
<%= link_to "#{@user.name}の作品一覧", controller: 'user',action:'self_material_storages',user_id: @user.id %>
<% end %>
